In [1]:
import pandas as pd
import numpy as np

### Datai einlesen
#### Datensatz von https://www.kaggle.com/datasets/uciml/sms-spam-collection-dataset

In [2]:
df = pd.read_csv('spam.csv', encoding='ISO-8859-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
df = df[['v1','v2']]

In [4]:
df = df.rename({'v1':'type','v2':'email'}, axis=1)

#### train and test verteilen

In [5]:
from sklearn.model_selection import train_test_split

X = df['email']
y = df['type']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [6]:
df['type'] = df['type'].replace(['ham'], 0)
df['type'] = df['type'].replace(['spam'], 1)

In [7]:
df

      type                                              email
0        0  Go until jurong point, crazy.. Available only ...
1        0                      Ok lar... Joking wif u oni...
2        1  Free entry in 2 a wkly comp to win FA Cup fina...
3        0  U dun say so early hor... U c already then say...
4        0  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567     1  This is the 2nd time we have tried 2 contact u...
5568     0              Will Ì_ b going to esplanade fr home?
5569     0  Pity, * was in mood for that. So...any other s...
5570     0  The guy did some bitching but I acted like i'd...
5571     0                         Rofl. Its true to its name

[5572 rows x 2 columns]

### CountVercorizer

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

co_vec = CountVectorizer()
co_vec.fit(X_train)
X_train = co_vec.transform(X_train)
X_test = co_vec.transform(X_test)

In [9]:
from sklearn.naive_bayes import MultinomialNB

model =MultinomialNB()
model.fit(X_train, y_train)
print("Model Score:", model.score(X_test, y_test))

Model Score: 0.9863603732950467

## Spam Detector

In [11]:
import ipywidgets as widgets

email = widgets.Textarea( description='E-Mail:', placeholder='E-Mail schreiben')
button = widgets.Button( description='Spam erkennen' )
result = widgets.Label(value='' )

vb = widgets.VBox([email, button, result])

def on_click(b):
    array =[email.value]
    vect = co_vec.transform(array).toarray()
    result.value = model.predict(vect)[0]

button.on_click(on_click)

display(vb)

VBox(children=(Textarea(value='', description='E-Mail:', placeholder='E-Mail schreiben'), Button(description='…